.ui.table.plan-table {
  width: 98%;
  margin: 0.75rem auto;
  max-width: 1250px;
}

.ui.sortable.table thead th.checkbox-headerCell {
  border-left: 0;
}

.kwh-header {
  font-size: 0.7rem;
}
