.container-header {
  display: flex;
  align-items: center;
  max-width: 1250px;
  margin: 0 auto;
}

.header-home {
  flex: 1;
  margin: calc(2rem - 0.14285714em) 0 1rem;
  padding-left: 5%;
}

.header-results {
  margin: 0 auto;
}

.header-spacer {
  flex: 1;
  padding-right: 5%;
}
